In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('Competition1_raw_data.xlsx')
data.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10,9.5,8.5,11.87,122,1,3.43,...,10600000,51.345,470,12719,11560,301,690,62,117,139
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,2400000,25.936,791,21792,19585,510,1120,71,242,237
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,5000000,7.378,201,5262,4785,128,325,61,33,60
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,4500000,8.526,328,8259,7574,177,509,80,59,110
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,8250000,632.298,572,14830,13176,336,720,67,149,167

In [4]:
data.info() #no null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 22 columns):
I1         682 non-null object
I2         682 non-null object
I3         682 non-null object
P(IPO)     682 non-null object
P(H)       682 non-null object
P(L)       682 non-null object
P(1Day)    682 non-null object
C1         682 non-null object
C2         682 non-null object
C3         682 non-null object
C4         682 non-null object
C5         682 non-null object
C6         682 non-null object
C7         682 non-null object
T1         682 non-null object
T2         682 non-null object
T3         682 non-null object
T4         682 non-null object
T5         682 non-null object
S1         682 non-null object
S2         682 non-null object
S3         682 non-null object
dtypes: object(22)
memory usage: 117.3+ KB

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

**Imputation**

In [7]:
data = data.astype(str)
data = data.replace('-',0) #replace dashes with zeros and change to float
data[['P(IPO)','P(H)','P(L)','P(1Day)','C1','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']] = data[['P(IPO)','P(H)','P(L)','P(1Day)','C1','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']].astype(float)

In [8]:
data

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1,3.43,...,10600000.0,51.345,470.0,12719.0,11560.0,301.0,690.0,62.0,117.0,139.0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0,-1.62,...,2400000.0,25.936,791.0,21792.0,19585.0,510.0,1120.0,71.0,242.0,237.0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1,-1.24,...,5000000.0,7.378,201.0,5262.0,4785.0,128.0,325.0,61.0,33.0,60.0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1,-0.91,...,4500000.0,8.526,328.0,8259.0,7574.0,177.0,509.0,80.0,59.0,110.0
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1,0.07,...,8250000.0,632.298,572.0,14830.0,13176.0,336.0,720.0,67.0,149.0,167.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,ZIP,ZIPCAR INC,7514,18.0,16.0,14.0,28.000000,317.0,1,-0.37,...,9684109.0,186.101,537.0,13359.0,12303.0,329.0,676.0,87.0,106.0,173.0
678,ZLTQ,Zeltiq Aesthetics Inc,3845,13.0,16.0,14.0,15.500000,98.0,1,-0.41,...,7000000.0,25.461,496.0,13810.0,12515.0,321.0,784.0,70.0,126.0,173.0
679,ZSTN,"ZST Digital Networks, Inc.",3663,8.0,8.5,7.5,7.520000,112.0,0,0.60,...,3125000.0,55.431,335.0,9067.0,8066.0,217.0,435.0,38.0,82.0,90.0
680,ZUMZ,Zumiez Inc,5600,19.0,17.0,15.0,12.435000,78.0,1,0.20,...,3125000.0,117.857,256.0,7087.0,6445.0,182.0,306.0,48.0,38.0,100.0
681,ZZ,SEALY CORP,2510,16.0,16.0,14.0,8.340122,281.0,1,0.76,...,28000000.0,1469.574,413.0,11660.0,10544.0,277.0,636.0,94.0,103.0,158.0

In [9]:
#calaculate Pmid
# P(mid) calculation and add it to the column 

data['P(mid)'] = (data['P(H)'] - data['P(L)'])/2

In [10]:
data.info() #show new column (Pmid) is there

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 23 columns):
I1         682 non-null object
I2         682 non-null object
I3         682 non-null object
P(IPO)     682 non-null float64
P(H)       682 non-null float64
P(L)       682 non-null float64
P(1Day)    682 non-null float64
C1         682 non-null float64
C2         682 non-null object
C3         682 non-null float64
C4         682 non-null float64
C5         682 non-null float64
C6         682 non-null float64
C7         682 non-null float64
T1         682 non-null float64
T2         682 non-null float64
T3         682 non-null float64
T4         682 non-null float64
T5         682 non-null float64
S1         682 non-null float64
S2         682 non-null float64
S3         682 non-null float64
P(mid)     682 non-null float64
dtypes: float64(19), object(4)
memory usage: 122.7+ KB

In [11]:
# targets to be calculated
# make it equal to P(IPO) then we will just replace  
data['Y1'] = data['P(IPO)']
data['Y2'] = data['P(IPO)']

# replace Y1 and change dtype to binary---change Y1 if Pmid is smaller than Y1
data.loc[(data['Y1'] < data['P(mid)']),'Y1'] = 1
data.loc[(data['Y1'] > data['P(mid)']),'Y1'] = 0
data['Y1'] = data['Y1'].astype(int)

# replace Y2
data.loc[(data['Y2'] < data['P(1Day)']),'Y2'] = 1
data.loc[(data['Y2'] > data['P(1Day)']),'Y2'] = 0
data['Y2'] = data['Y2'].astype(int)

# Control values to be calculated 
data['C3`'] = data['C3']
data['C3`'] = np.where((data['C3'] > 0),1,data['C3`'])
data['C3`'] = np.where((data['C3'] < 0),0,data['C3`'])
data['C3`'] = data['C3`'].astype(int)

data['C5`'] = data['C5']/data['C6']

# % SIGN??
data['C6calc'] = ((data['P(IPO)'] - data['P(mid)']) / data['P(mid)']) * 1
data['C6`'] = 0
data['C6`'] = np.where((data['P(IPO)'] > data['P(mid)']),data['C6calc'],data['C6`'])
data['C6`'] = np.where((data['P(IPO)'] < data['P(mid)']),0,data['C6`'])

data.head(20)

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,S1,S2,S3,P(mid),Y1,Y2,C3`,C5`,C6calc,C6`
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1,3.43,...,62.0,117.0,139.0,0.5,0,1,1,3.864345,19.0,19.0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0,-1.62,...,71.0,242.0,237.0,1.0,0,0,0,12.028832,7.0,7.0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1,-1.24,...,61.0,33.0,60.0,1.0,0,0,0,3.369134,6.0,6.0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1,-0.91,...,80.0,59.0,110.0,1.0,0,1,0,3.299697,10.5,10.5
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1,0.07,...,67.0,149.0,167.0,1.0,0,1,1,3.726269,20.0,20.0
5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.200000,94.0,1,0.06,...,62.0,96.0,181.0,1.0,0,1,1,5.724394,12.5,12.5
6,ACOR,ACORDA THERAPEUTICS INC,2836,6.0,13.0,11.0,6.720000,128.0,1,-1.87,...,82.0,106.0,135.0,1.0,0,1,0,3.463095,5.0,5.0
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5.0,14.0,12.0,4.550000,91.0,0,-0.74,...,55.0,120.0,122.0,1.0,0,0,0,2.421469,4.0,4.0
8,ACTV,ACTIVE NETWORK INC,7372,15.0,18.0,16.0,15.900000,100.0,1,-0.51,...,58.0,124.0,234.0,1.0,0,1,0,4.816591,14.0,14.0
9,ACW,ACCURIDE CORP,3714,9.0,19.0,17.0,0.000000,106.0,1,1.49,...,81.0,90.0,147.0,1.0,0,0,1,3.056608,8.0,8.0
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",0,0.0,0.0,0.0,0.000000,0.0,0,0.00,...,51.0,65.0,74.0,0.0,0,0,0,NaN,NaN,0.0
11,ADLS,"Advanced Life Sciences Holdings, Inc.",2854,5.0,9.0,8.0,6.000000,99.0,1,-398.10,...,29.0,41.0,70.0,0.5,0,1,0,2.546686,9.0,9.0
12,ADZA,ADEZA BIOMEDICAL CORP,2835,16.0,16.0,14.0,19.700001,126.0,1,0.27,...,21.0,43.0,80.0,1.0,0,1,1,4.237291,15.0,15.0
13,AFFY,AFFYMAX INC,2834,25.0,24.0,22.0,33.880001,140.0,1,-2.19,...,81.0,118.0,138.0,1.0,0,1,0,3.867637,24.0,24.0
14,AGAM,"AGA Medical Holdings, Inc.",3845,14.5,16.0,15.0,14.600000,488.0,1,0.18,...,98.0,256.0,172.0,0.5,0,1,1,3.638220,28.0,28.0
15,AH,R1 RCM INC.,7389,12.0,16.0,14.0,13.550000,233.0,1,0.17,...,98.0,92.0,155.0,1.0,0,1,1,9.001571,11.0,11.0
16,AHII,"ANIMAL HEALTH HOLDINGS, INC.",5047,11.0,12.0,10.0,12.450000,125.0,1,0.31,...,36.0,33.0,83.0,1.0,0,1,1,2.062121,10.0,10.0
17,AIMC,Altra Industrial Motion Corp.,3568,13.5,16.0,14.0,14.290000,77.0,1,0.14,...,72.0,134.0,133.0,1.0,0,1,1,2.308759,12.5,12.5
18,AIRV,AIRVANA INC,3661,7.0,10.0,8.0,7.170000,92.0,1,1.18,...,54.0,75.0,117.0,1.0,0,1,1,7.634886,6.0,6.0
19,ALGT,Allegiant Travel CO,4512,18.0,17.0,15.0,25.100000,207.0,1,0.63,...,52.0,78.0,91.0,1.0,0,1,1,3.809187,17.0,17.0

In [12]:
data.info() #we now have all variables listed in data dictionary--all listed in the same data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 29 columns):
I1         682 non-null object
I2         682 non-null object
I3         682 non-null object
P(IPO)     682 non-null float64
P(H)       682 non-null float64
P(L)       682 non-null float64
P(1Day)    682 non-null float64
C1         682 non-null float64
C2         682 non-null object
C3         682 non-null float64
C4         682 non-null float64
C5         682 non-null float64
C6         682 non-null float64
C7         682 non-null float64
T1         682 non-null float64
T2         682 non-null float64
T3         682 non-null float64
T4         682 non-null float64
T5         682 non-null float64
S1         682 non-null float64
S2         682 non-null float64
S3         682 non-null float64
P(mid)     682 non-null float64
Y1         682 non-null int64
Y2         682 non-null int64
C3`        682 non-null int64
C5`        676 non-null float64
C6calc     677 non-null float64
C6`        682 non-null float64
dtypes: float64(22), int64(3), object(4)
memory usage: 154.6+ KB

In [13]:
#count number of zeros--number of zeros in each column 
(data == 0).astype(int).sum(axis=0)

I1           0
I2           0
I3           0
P(IPO)       5
P(H)        11
P(L)        10
P(1Day)     26
C1          22
C2           0
C3          41
C4          22
C5           6
C6           6
C7          72
T1           1
T2           3
T3           4
T4           3
T5           1
S1           1
S2           1
S3           1
P(mid)      11
Y1         682
Y2         185
C3`        357
C5`          0
C6calc       0
C6`          5
dtype: int64

In [14]:
# replace with nulls
# maybe we can run it with zeros/np.nan
cols = ["P(IPO)","P(H)","P(L)","P(1Day)","C1",'C2','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']
data[cols] = data[cols].replace({0:np.nan})

# Imputate with median
# check if it works right 
data[cols]=data[cols].fillna(data.median().iloc[0])

In [15]:
data.head(10)

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,S1,S2,S3,P(mid),Y1,Y2,C3`,C5`,C6calc,C6`
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1,3.43,...,62.0,117.0,139.0,0.5,0,1,1,3.864345,19.0,19.0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0,-1.62,...,71.0,242.0,237.0,1.0,0,0,0,12.028832,7.0,7.0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1,-1.24,...,61.0,33.0,60.0,1.0,0,0,0,3.369134,6.0,6.0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1,-0.91,...,80.0,59.0,110.0,1.0,0,1,0,3.299697,10.5,10.5
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1,0.07,...,67.0,149.0,167.0,1.0,0,1,1,3.726269,20.0,20.0
5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.200000,94.0,1,0.06,...,62.0,96.0,181.0,1.0,0,1,1,5.724394,12.5,12.5
6,ACOR,ACORDA THERAPEUTICS INC,2836,6.0,13.0,11.0,6.720000,128.0,1,-1.87,...,82.0,106.0,135.0,1.0,0,1,0,3.463095,5.0,5.0
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5.0,14.0,12.0,4.550000,91.0,0,-0.74,...,55.0,120.0,122.0,1.0,0,0,0,2.421469,4.0,4.0
8,ACTV,ACTIVE NETWORK INC,7372,15.0,18.0,16.0,15.900000,100.0,1,-0.51,...,58.0,124.0,234.0,1.0,0,1,0,4.816591,14.0,14.0
9,ACW,ACCURIDE CORP,3714,9.0,19.0,17.0,13.500000,106.0,1,1.49,...,81.0,90.0,147.0,1.0,0,0,1,3.056608,8.0,8.0

In [16]:
data.info() #no null values--what we need--replaces all null values with median

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 29 columns):
I1         682 non-null object
I2         682 non-null object
I3         682 non-null object
P(IPO)     682 non-null float64
P(H)       682 non-null float64
P(L)       682 non-null float64
P(1Day)    682 non-null float64
C1         682 non-null float64
C2         682 non-null object
C3         682 non-null float64
C4         682 non-null float64
C5         682 non-null float64
C6         682 non-null float64
C7         682 non-null float64
T1         682 non-null float64
T2         682 non-null float64
T3         682 non-null float64
T4         682 non-null float64
T5         682 non-null float64
S1         682 non-null float64
S2         682 non-null float64
S3         682 non-null float64
P(mid)     682 non-null float64
Y1         682 non-null int64
Y2         682 non-null int64
C3`        682 non-null int64
C5`        676 non-null float64
C6calc     677 non-null float64
C6`        682 non-null float64
dtypes: float64(22), int64(3), object(4)
memory usage: 154.6+ KB

**Normalization**

In [ ]:
normalization_data

**Descriptive statistics**