In [4]:
# imports
import pandas as pd
import numpy as np
import math
import statistics
import scipy.stats

Notes:P(H) and p(L) are a range of prices--pmid is an average of the range--- 


P(IPO) is the price on the purchase day
P(1day) closing price on the first day
Pmid should be lower than P(IPO)---P(IPO) does not need to be in range of P(H) and P(L)


P(mid) < P(IPO) < P(1day)
       y1       y2

In [5]:
data = pd.read_excel('Competition1_raw_data.xlsx')
                    #dtype={'P(IPO)': float, 'P(1Day)': float})
# define dashes as missing --> 0 or NaN
data.head(11)

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10,9.5,8.5,11.87,122,1,3.43,...,10600000,51.345,470,12719,11560,301,690,62,117,139
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,2400000,25.936,791,21792,19585,510,1120,71,242,237
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,5000000,7.378,201,5262,4785,128,325,61,33,60
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,4500000,8.526,328,8259,7574,177,509,80,59,110
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,8250000,632.298,572,14830,13176,336,720,67,149,167
5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.2,94,1,0.06,...,7407407,197.591,510,17999,13934,328,815,62,96,181
6,ACOR,ACORDA THERAPEUTICS INC,2836,6,13,11,6.72,128,1,-1.87,...,5500000,5.146,495,15758,13953,379,698,82,106,135
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5,14,12,4.55,91,0,-0.74,...,8000000,-,334,11226,10056,276,-1,55,120,122
8,ACTV,ACTIVE NETWORK INC,7372,15,18,16,15.9,100,1,-0.51,...,11000000,279.6,620,14813,13463,335,917,58,124,234
9,ACW,ACCURIDE CORP,3714,9,19,17,0,106,1,1.49,...,11000000,494.008,385,9134,8107,198,459,81,90,147
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74

# Descriptive Statistics

## Data Cleaning- Part 1

In [6]:
data.info() #all items are objects

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 22 columns):
I1         682 non-null object
I2         682 non-null object
I3         682 non-null object
P(IPO)     682 non-null object
P(H)       682 non-null object
P(L)       682 non-null object
P(1Day)    682 non-null object
C1         682 non-null object
C2         682 non-null object
C3         682 non-null object
C4         682 non-null object
C5         682 non-null object
C6         682 non-null object
C7         682 non-null object
T1         682 non-null object
T2         682 non-null object
T3         682 non-null object
T4         682 non-null object
T5         682 non-null object
S1         682 non-null object
S2         682 non-null object
S3         682 non-null object
dtypes: object(22)
memory usage: 117.3+ KB

In [7]:
# we have a dash--- 22 in total---need to replace to make NaN
data['P(1Day)'].value_counts()

-                   22
13                   8
13.75                6
14                   6
17                   5
                    ..
11.3800001144409     1
7.52                 1
12.5799999237061     1
14.5500001907349     1
8.25                 1
Name: P(1Day), Length: 531, dtype: int64

In [8]:
# first count how many 0's
data = data.astype(str)
data['P(1Day)'] = data['P(1Day)'].str.strip()
data['P(1Day)'] = data['P(1Day)'].replace('-', 0)
data['P(1Day)'] = data['P(1Day)'].astype(float)

In [9]:
data = data.astype(str) #replace dashes with zeros and change to float
data = data.replace('-',0)
data[['P(IPO)','P(H)','P(L)','P(1Day)','C1','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']] = data[['P(IPO)','P(H)','P(L)','P(1Day)','C1','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']].astype(float)

In [10]:
data.head(11) #dashes are replaced with zeros

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1,3.43,...,10600000.0,51.345,470.0,12719.0,11560.0,301.0,690.0,62.0,117.0,139.0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0,-1.62,...,2400000.0,25.936,791.0,21792.0,19585.0,510.0,1120.0,71.0,242.0,237.0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1,-1.24,...,5000000.0,7.378,201.0,5262.0,4785.0,128.0,325.0,61.0,33.0,60.0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1,-0.91,...,4500000.0,8.526,328.0,8259.0,7574.0,177.0,509.0,80.0,59.0,110.0
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1,0.07,...,8250000.0,632.298,572.0,14830.0,13176.0,336.0,720.0,67.0,149.0,167.0
5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.200000,94.0,1,0.06,...,7407407.0,197.591,510.0,17999.0,13934.0,328.0,815.0,62.0,96.0,181.0
6,ACOR,ACORDA THERAPEUTICS INC,2836,6.0,13.0,11.0,6.720000,128.0,1,-1.87,...,5500000.0,5.146,495.0,15758.0,13953.0,379.0,698.0,82.0,106.0,135.0
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5.0,14.0,12.0,4.550000,91.0,0,-0.74,...,8000000.0,0.000,334.0,11226.0,10056.0,276.0,-1.0,55.0,120.0,122.0
8,ACTV,ACTIVE NETWORK INC,7372,15.0,18.0,16.0,15.900000,100.0,1,-0.51,...,11000000.0,279.600,620.0,14813.0,13463.0,335.0,917.0,58.0,124.0,234.0
9,ACW,ACCURIDE CORP,3714,9.0,19.0,17.0,0.000000,106.0,1,1.49,...,11000000.0,494.008,385.0,9134.0,8107.0,198.0,459.0,81.0,90.0,147.0
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",0,0.0,0.0,0.0,0.000000,0.0,0,0.00,...,0.0,0.000,332.0,7534.0,6747.0,169.0,263.0,51.0,65.0,74.0

In [11]:
data.info() #some values changed to floats

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 22 columns):
I1         682 non-null object
I2         682 non-null object
I3         682 non-null object
P(IPO)     682 non-null float64
P(H)       682 non-null float64
P(L)       682 non-null float64
P(1Day)    682 non-null float64
C1         682 non-null float64
C2         682 non-null object
C3         682 non-null float64
C4         682 non-null float64
C5         682 non-null float64
C6         682 non-null float64
C7         682 non-null float64
T1         682 non-null float64
T2         682 non-null float64
T3         682 non-null float64
T4         682 non-null float64
T5         682 non-null float64
S1         682 non-null float64
S2         682 non-null float64
S3         682 non-null float64
dtypes: float64(18), object(4)
memory usage: 117.3+ KB

In [12]:
#col= ['I1','I2','I3','P(IPO)','P(H)','P(L)','P(1Day)','C1','C2','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']

In [13]:
#sources: https://machinelearningmastery.com/understand-machine-learning-data-descriptive-statistics-python/

data.shape #682 rows, 22 columns

(682, 22)

In [14]:
data.isnull().sum()

I1         0
I2         0
I3         0
P(IPO)     0
P(H)       0
P(L)       0
P(1Day)    0
C1         0
C2         0
C3         0
C4         0
C5         0
C6         0
C7         0
T1         0
T2         0
T3         0
T4         0
T5         0
S1         0
S2         0
S3         0
dtype: int64

In [15]:
data.describe(include='all') #entire dataframe

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
count,682,682,682,682.000000,682.000000,682.000000,682.000000,682.000000,682,682.000000,...,6.820000e+02,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000
unique,682,682,202,NaN,NaN,NaN,NaN,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,WCG,MARIN SOFTWARE INC,2834,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,1,76,NaN,NaN,NaN,NaN,NaN,567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,13.736217,15.254194,13.316877,25.098161,144.898827,NaN,1.694475,...,1.230597e+07,447.625479,464.951613,12739.898827,11379.134897,293.922287,678.224340,68.321114,119.928152,144.546921
std,NaN,NaN,NaN,6.146069,6.861910,6.016439,72.188088,152.642154,NaN,158.309106,...,2.504450e+07,1566.346080,176.515396,5467.513078,4855.762719,121.965312,473.282155,39.155563,84.891323,69.446976
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,-786.239000,...,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,0.000000,0.000000
25%,NaN,NaN,NaN,10.000000,12.000000,10.125000,10.250000,83.250000,NaN,-0.750000,...,5.000000e+06,20.474500,350.250000,9170.250000,8135.000000,212.250000,460.500000,45.000000,73.000000,100.000000
50%,NaN,NaN,NaN,13.500000,15.000000,13.000000,14.535000,105.500000,NaN,0.000000,...,7.250000e+06,80.998500,444.000000,12024.500000,10774.500000,279.000000,624.000000,60.000000,100.000000,134.000000
75%,NaN,NaN,NaN,17.000000,17.000000,15.000000,20.087500,152.750000,NaN,0.440000,...,1.193426e+07,289.758000,550.750000,15240.250000,13751.500000,353.750000,794.500000,84.750000,141.750000,173.000000
max,NaN,NaN,NaN,85.000000,135.000000,108.000000,1159.200562,2087.000000,NaN,3864.500000,...,4.212336e+08,30683.000000,1750.000000,49056.000000,43952.000000,1058.000000,10277.000000,309.000000,944.000000,883.000000

In [16]:
# Need to do some calculation for Y, S,T (use ratios for prime)
# purple group they in text --> not as useful --> not all of them are ID like features some of them might be useful 
    # 1 tend to be very useful

In [17]:
print(data.isnull().sum(axis=0).tolist())

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## Imputation

In [18]:
# there are 4 0's before hand so it makes sense --> these already unknown?
data['P(1Day)'][(data['P(1Day)']==0)]

9      0.0
10     0.0
86     0.0
115    0.0
123    0.0
203    0.0
215    0.0
217    0.0
266    0.0
268    0.0
279    0.0
286    0.0
330    0.0
357    0.0
364    0.0
400    0.0
401    0.0
410    0.0
490    0.0
496    0.0
503    0.0
560    0.0
597    0.0
614    0.0
615    0.0
675    0.0
Name: P(1Day), dtype: float64

In [27]:
data['C2'] = data['C2'].astype(int)

In [28]:
print(data.isnull().sum(axis=0).tolist())

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 5, 0]

In [29]:
# 
data['T2'].value_counts()

13.5       3
10562.0    2
10731.0    2
13810.0    2
6939.0     2
          ..
4882.0     1
9959.0     1
7166.0     1
26820.0    1
21792.0    1
Name: T2, Length: 671, dtype: int64

In [31]:
# similarities between different null values 
data[data['P(1Day)']==0]

Empty DataFrame
Columns: [I1, I2, I3, P(IPO), P(H), P(L), P(1Day), C1, C2, C3, C4, C5, C6, C7, T1, T2, T3, T4, T5, S1, S2, S3, P(mid), Y1, Y2, C3`, C5`, C6calc, C6`]
Index: []

[0 rows x 29 columns]

P(mid) = (P(H)+P(L))/2

In [32]:
# P(mid) calculation and add it to the column 
data['P(mid)'] = (data['P(H)'] - data['P(L)'])/2

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 29 columns):
I1         682 non-null object
I2         682 non-null object
I3         682 non-null object
P(IPO)     682 non-null float64
P(H)       682 non-null float64
P(L)       682 non-null float64
P(1Day)    682 non-null float64
C1         682 non-null float64
C2         682 non-null int64
C3         682 non-null float64
C4         682 non-null float64
C5         682 non-null float64
C6         682 non-null float64
C7         682 non-null float64
T1         682 non-null float64
T2         682 non-null float64
T3         682 non-null float64
T4         682 non-null float64
T5         682 non-null float64
S1         682 non-null float64
S2         682 non-null float64
S3         682 non-null float64
P(mid)     682 non-null float64
Y1         682 non-null int64
Y2         682 non-null int64
C3`        682 non-null int64
C5`        676 non-null float64
C6calc     677 non-null float64
C6`        682 non-null float64
dtypes: float64(22), int64(4), object(3)
memory usage: 154.6+ KB

# this will be different after imputation

In [34]:
# targets to be calculated
# make it equal to P(IPO) then we will just replace
data['Y1'] = data['P(IPO)']
data['Y2'] = data['P(IPO)']

# replace Y1 and change dtype to binary
data.loc[(data['Y1'] < data['P(mid)']),'Y1'] = 1
data.loc[(data['Y1'] > data['P(mid)']),'Y1'] = 0
data['Y1'] = data['Y1'].astype(int)

# replace Y2
data.loc[(data['Y2'] < data['P(1Day)']),'Y2'] = 1
data.loc[(data['Y2'] > data['P(1Day)']),'Y2'] = 0
data['Y2'] = data['Y2'].astype(int)

# Control values to be calculated
data['C3`'] = data['C3']
data['C3`'] = np.where((data['C3'] > 0),1,data['C3`'])
data['C3`'] = np.where((data['C3'] < 0),0,data['C3`'])
data['C3`'] = data['C3`'].astype(int)

data['C5`'] = data['C5']/data['C6']

# % SIGN??
data['C6calc'] = ((data['P(IPO)'] - data['P(mid)']) / data['P(mid)']) * 1
data['C6`'] = 0
data['C6`'] = np.where((data['P(IPO)'] > data['P(mid)']),data['C6calc'],data['C6`'])
data['C6`'] = np.where((data['P(IPO)'] < data['P(mid)']),0,data['C6`'])

data.head(20)

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,S1,S2,S3,P(mid),Y1,Y2,C3`,C5`,C6calc,C6`
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1,3.43,...,62.0,117.0,139.0,0.5,0,1,1,3.864345,19.0,19.0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,13,-1.62,...,71.0,242.0,237.0,1.0,0,0,0,12.028832,7.0,7.0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1,-1.24,...,61.0,33.0,60.0,1.0,0,0,0,3.369134,6.0,6.0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1,-0.91,...,80.0,59.0,110.0,1.0,0,1,0,3.299697,10.5,10.5
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1,0.07,...,67.0,149.0,167.0,1.0,0,1,1,3.726269,20.0,20.0
5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.200000,94.0,1,0.06,...,62.0,96.0,181.0,1.0,0,1,1,5.724394,12.5,12.5
6,ACOR,ACORDA THERAPEUTICS INC,2836,6.0,13.0,11.0,6.720000,128.0,1,-1.87,...,82.0,106.0,135.0,1.0,0,1,0,3.463095,5.0,5.0
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5.0,14.0,12.0,4.550000,91.0,13,-0.74,...,55.0,120.0,122.0,1.0,0,0,0,2.421469,4.0,4.0
8,ACTV,ACTIVE NETWORK INC,7372,15.0,18.0,16.0,15.900000,100.0,1,-0.51,...,58.0,124.0,234.0,1.0,0,1,0,4.816591,14.0,14.0
9,ACW,ACCURIDE CORP,3714,9.0,19.0,17.0,13.500000,106.0,1,1.49,...,81.0,90.0,147.0,1.0,0,1,1,3.056608,8.0,8.0
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",0,13.5,13.5,13.5,13.500000,13.5,13,13.50,...,51.0,65.0,74.0,0.0,0,13,1,1.000000,inf,inf
11,ADLS,"Advanced Life Sciences Holdings, Inc.",2854,5.0,9.0,8.0,6.000000,99.0,1,-398.10,...,29.0,41.0,70.0,0.5,0,1,0,2.546686,9.0,9.0
12,ADZA,ADEZA BIOMEDICAL CORP,2835,16.0,16.0,14.0,19.700001,126.0,1,0.27,...,21.0,43.0,80.0,1.0,0,1,1,4.237291,15.0,15.0
13,AFFY,AFFYMAX INC,2834,25.0,24.0,22.0,33.880001,140.0,1,-2.19,...,81.0,118.0,138.0,1.0,0,1,0,3.867637,24.0,24.0
14,AGAM,"AGA Medical Holdings, Inc.",3845,14.5,16.0,15.0,14.600000,488.0,1,0.18,...,98.0,256.0,172.0,0.5,0,1,1,3.638220,28.0,28.0
15,AH,R1 RCM INC.,7389,12.0,16.0,14.0,13.550000,233.0,1,0.17,...,98.0,92.0,155.0,1.0,0,1,1,9.001571,11.0,11.0
16,AHII,"ANIMAL HEALTH HOLDINGS, INC.",5047,11.0,12.0,10.0,12.450000,125.0,1,0.31,...,36.0,33.0,83.0,1.0,0,1,1,2.062121,10.0,10.0
17,AIMC,Altra Industrial Motion Corp.,3568,13.5,16.0,14.0,14.290000,77.0,1,0.14,...,72.0,134.0,133.0,1.0,0,1,1,2.308759,12.5,12.5
18,AIRV,AIRVANA INC,3661,7.0,10.0,8.0,7.170000,92.0,1,1.18,...,54.0,75.0,117.0,1.0,0,1,1,7.634886,6.0,6.0
19,ALGT,Allegiant Travel CO,4512,18.0,17.0,15.0,25.100000,207.0,1,0.63,...,52.0,78.0,91.0,1.0,0,1,1,3.809187,17.0,17.0

In [22]:
data[(data['P(1Day)']==0) & (data['P(IPO)']==0) & (data['P(H)']==0)].count()

I1         5
I2         5
I3         5
P(IPO)     5
P(H)       5
P(L)       5
P(1Day)    5
C1         5
C2         5
C3         5
C4         5
C5         5
C6         5
C7         5
T1         5
T2         5
T3         5
T4         5
T5         5
S1         5
S2         5
S3         5
P(mid)     5
Y1         5
Y2         5
C3`        5
C5`        0
C6calc     0
C6`        5
dtype: int64

In [23]:
# number of zeros in each column 
(data == 0).astype(int).sum(axis=0)

#I3= 8, P(mid)= 11, Y1=682, Y2=164, C3'=316

I1           0
I2           0
I3           8
P(IPO)       5
P(H)        11
P(L)        10
P(1Day)     26
C1          22
C2         115
C3          41
C4          22
C5           6
C6           6
C7          72
T1           1
T2           3
T3           4
T4           3
T5           1
S1           1
S2           1
S3           1
P(mid)      11
Y1         682
Y2         185
C3`        357
C5`          0
C6calc       0
C6`          5
dtype: int64

In [24]:
# Number of non-zero values 
#Each column should have 682 values
data.astype(bool).sum(axis=0)

I1         682
I2         682
I3         674
P(IPO)     677
P(H)       671
P(L)       672
P(1Day)    656
C1         660
C2         567
C3         641
C4         660
C5         676
C6         676
C7         610
T1         681
T2         679
T3         678
T4         679
T5         681
S1         681
S2         681
S3         681
P(mid)     671
Y1           0
Y2         497
C3`        325
C5`        682
C6calc     682
C6`        677
dtype: int64

In [37]:
data.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,S1,S2,S3,P(mid),Y1,Y2,C3`,C5`,C6calc,C6`
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1.0,3.43,...,62.0,117.0,139.0,0.5,0,1,1,3.864345,19.0,19.0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,13.5,-1.62,...,71.0,242.0,237.0,1.0,0,0,0,12.028832,7.0,7.0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1.0,-1.24,...,61.0,33.0,60.0,1.0,0,0,0,3.369134,6.0,6.0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1.0,-0.91,...,80.0,59.0,110.0,1.0,0,1,0,3.299697,10.5,10.5
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1.0,0.07,...,67.0,149.0,167.0,1.0,0,1,1,3.726269,20.0,20.0

In [25]:
# replace with nulls
# maybe we can run it with zeros/np.nan
cols = ["P(IPO)","P(H)","P(L)","P(1Day)","C1",'C2','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']
data[cols] = data[cols].replace({0:np.nan})

# Imputate with median
# check if it works right 
data[cols]=data[cols].fillna(data.median().iloc[0])

In [26]:
data.head(11)

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,S1,S2,S3,P(mid),Y1,Y2,C3`,C5`,C6calc,C6`
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1.0,3.43,...,62.0,117.0,139.0,0.5,0,1,1,3.864345,19.0,19.0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,13.5,-1.62,...,71.0,242.0,237.0,1.0,0,0,0,12.028832,7.0,7.0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1.0,-1.24,...,61.0,33.0,60.0,1.0,0,0,0,3.369134,6.0,6.0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1.0,-0.91,...,80.0,59.0,110.0,1.0,0,1,0,3.299697,10.5,10.5
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1.0,0.07,...,67.0,149.0,167.0,1.0,0,1,1,3.726269,20.0,20.0
5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.200000,94.0,1.0,0.06,...,62.0,96.0,181.0,1.0,0,1,1,5.724394,12.5,12.5
6,ACOR,ACORDA THERAPEUTICS INC,2836,6.0,13.0,11.0,6.720000,128.0,1.0,-1.87,...,82.0,106.0,135.0,1.0,0,1,0,3.463095,5.0,5.0
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5.0,14.0,12.0,4.550000,91.0,13.5,-0.74,...,55.0,120.0,122.0,1.0,0,0,0,2.421469,4.0,4.0
8,ACTV,ACTIVE NETWORK INC,7372,15.0,18.0,16.0,15.900000,100.0,1.0,-0.51,...,58.0,124.0,234.0,1.0,0,1,0,4.816591,14.0,14.0
9,ACW,ACCURIDE CORP,3714,9.0,19.0,17.0,13.500000,106.0,1.0,1.49,...,81.0,90.0,147.0,1.0,0,0,1,3.056608,8.0,8.0
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",0,13.5,13.5,13.5,13.500000,13.5,13.5,13.50,...,51.0,65.0,74.0,0.0,0,0,0,NaN,NaN,0.0

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 29 columns):
I1         682 non-null object
I2         682 non-null object
I3         682 non-null object
P(IPO)     682 non-null float64
P(H)       682 non-null float64
P(L)       682 non-null float64
P(1Day)    682 non-null float64
C1         682 non-null float64
C2         682 non-null float64
C3         682 non-null float64
C4         682 non-null float64
C5         682 non-null float64
C6         682 non-null float64
C7         682 non-null float64
T1         682 non-null float64
T2         682 non-null float64
T3         682 non-null float64
T4         682 non-null float64
T5         682 non-null float64
S1         682 non-null float64
S2         682 non-null float64
S3         682 non-null float64
P(mid)     682 non-null float64
Y1         682 non-null int64
Y2         682 non-null int64
C3`        682 non-null int64
C5`        682 non-null float64
C6calc     682 non-null float64
C6`        682 non-null float64
dtypes: float64(23), int64(3), object(3)
memory usage: 154.6+ KB

In [41]:
no_object = data.select_dtypes(exclude=['object'])

In [42]:
no_object.values

array([[10.        ,  9.5       ,  8.5       , ...,  3.86434453,
        19.        , 19.        ],
       [ 8.        , 10.        ,  8.        , ..., 12.02883167,
         7.        ,  7.        ],
       [ 7.        , 14.        , 12.        , ...,  3.3691336 ,
         6.        ,  6.        ],
       ...,
       [ 8.        ,  8.5       ,  7.5       , ...,  3.67354432,
        15.        , 15.        ],
       [19.        , 17.        , 15.        , ...,  4.21768352,
        18.        , 18.        ],
       [16.        , 16.        , 14.        , ...,  3.24050714,
        15.        , 15.        ]])

## Normalization

In [43]:
# normalize with min/max
x = no_object.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)

NameError: name 'preprocessing' is not defined

In [33]:
# normalization with sklearn 
from sklearn import preprocessing
# Normalize P(IPO) column (1 column)
x_array = np.array(data['P(IPO)'])
normalized_X = preprocessing.normalize([x_array])

In [34]:
normalized_X

array([[0.02537403, 0.02029923, 0.01776182, 0.02918014, 0.05328547,
        0.03425495, 0.01522442, 0.01268702, 0.03806105, 0.02283663,
        0.03425495, 0.01268702, 0.04059845, 0.06343508, 0.03679235,
        0.03044884, 0.02791144, 0.03425495, 0.01776182, 0.04567326,
        0.02791144, 0.04059845, 0.03298624, 0.01522442, 0.03806105,
        0.02029923, 0.01522442, 0.05074807, 0.02537403, 0.01268702,
        0.02537403, 0.03298624, 0.02791144, 0.03425495, 0.04567326,
        0.05074807, 0.02410533, 0.04567326, 0.04440456, 0.04186716,
        0.04313586, 0.03044884, 0.05328547, 0.03298624, 0.02283663,
        0.01522442, 0.02791144, 0.02791144, 0.02283663, 0.04567326,
        0.03044884, 0.01903053, 0.04313586, 0.02283663, 0.03806105,
        0.02537403, 0.10910834, 0.02664274, 0.06850989, 0.05328547,
        0.05836028, 0.04567326, 0.04313586, 0.03552365, 0.05582287,
        0.05074807, 0.03552365, 0.06343508, 0.03298624, 0.03552365,
        0.05074807, 0.02791144, 0.03932975, 0.03298624, 0.04567326,
        0.03298624, 0.05582287, 0.02029923, 0.01332137, 0.03806105,
        0.02664274, 0.04313586, 0.01966488, 0.02791144, 0.04313586,
        0.01268702, 0.03425495, 0.02029923, 0.04821066, 0.03298624,
        0.02537403, 0.02664274, 0.04313586, 0.02283663, 0.03806105,
        0.02410533, 0.03044884, 0.04313586, 0.03044884, 0.03806105,
        0.05074807, 0.01395572, 0.02283663, 0.03552365, 0.02537403,
        0.03298624, 0.03806105, 0.02537403, 0.02537403, 0.03044884,
        0.03552365, 0.04567326, 0.04821066, 0.01332137, 0.04059845,
        0.01141832, 0.01522442, 0.03806105, 0.03298624, 0.04059845,
        0.04567326, 0.04059845, 0.03806105, 0.00761221, 0.04313586,
        0.03806105, 0.03298624, 0.03298624, 0.06343508, 0.03425495,
        0.03298624, 0.03298624, 0.02283663, 0.03044884, 0.03044884,
        0.04059845, 0.04567326, 0.03552365, 0.03298624, 0.03044884,
        0.04567326, 0.04313586, 0.06089768, 0.02537403, 0.04059845,
        0.04821066, 0.03298624, 0.05328547, 0.04821066, 0.02791144,
        0.03552365, 0.03806105, 0.02791144, 0.04059845, 0.03298624,
        0.03552365, 0.03298624, 0.04821066, 0.02918014, 0.03806105,
        0.03298624, 0.02283663, 0.02791144, 0.01547816, 0.03806105,
        0.02156793, 0.03806105, 0.03806105, 0.04059845, 0.04821066,
        0.05328547, 0.03298624, 0.04059845, 0.04059845, 0.04567326,
        0.03679235, 0.02791144, 0.04313586, 0.01776182, 0.04313586,
        0.04821066, 0.03171754, 0.03552365, 0.05328547, 0.02283663,
        0.03044884, 0.04821066, 0.04313586, 0.01903053, 0.03806105,
        0.03298624, 0.07104729, 0.04059845, 0.03044884, 0.03044884,
        0.02156793, 0.03171754, 0.03552365, 0.01522442, 0.02791144,
        0.04567326, 0.02791144, 0.03932975, 0.01014961, 0.02918014,
        0.03932975, 0.03298624, 0.01522442, 0.04059845, 0.03552365,
        0.01522442, 0.02283663, 0.03044884, 0.04059845, 0.02156793,
        0.01776182, 0.02029923, 0.04059845, 0.03552365, 0.02537403,
        0.04059845, 0.03425495, 0.04313586, 0.05328547, 0.04313586,
        0.04440456, 0.09642133, 0.05582287, 0.02537403, 0.04821066,
        0.03806105, 0.04313586, 0.05836028, 0.04313586, 0.02537403,
        0.02283663, 0.03806105, 0.03552365, 0.04313586, 0.04694196,
        0.04567326, 0.05074807, 0.03044884, 0.03298624, 0.03171754,
        0.02283663, 0.03552365, 0.03679235, 0.03806105, 0.04567326,
        0.03044884, 0.03552365, 0.03044884, 0.02791144, 0.03552365,
        0.02918014, 0.02791144, 0.03044884, 0.02537403, 0.04059845,
        0.01522442, 0.02283663, 0.03298624, 0.02918014, 0.21567929,
        0.05074807, 0.04313586, 0.02283663, 0.04567326, 0.03298624,
        0.02283663, 0.03679235, 0.02918014, 0.02537403, 0.04313586,
        0.0761221 , 0.02918014, 0.04567326, 0.01395572, 0.05074807,
        0.03298624, 0.03806105, 0.04313586, 0.05328547, 0.03044884,
        0.03044884, 0.00824656, 0.02537403, 0.04567326, 0.02537403,
        0.04947937, 0.03806105, 0.05836028, 0.03806105, 0.03806105,
        0.03044884, 0.03806105, 0.04059845, 0.01522442, 0.03044884,
        0.03298624, 0.03298624, 0.02537403, 0.02029923, 0.02029923,
        0.02029923, 0.01776182, 0.04821066, 0.01903053, 0.02283663,
        0.01776182, 0.03552365, 0.04059845, 0.02029923, 0.04186716,
        0.03044884, 0.03044884, 0.08119691, 0.04059845, 0.02854579,
        0.03298624, 0.05836028, 0.01522442, 0.03552365, 0.04821066,
        0.02537403, 0.03044884, 0.03298624, 0.0761221 , 0.02537403,
        0.03425495, 0.03806105, 0.02029923, 0.02283663, 0.01776182,
        0.03044884, 0.02791144, 0.05074807, 0.03425495, 0.03552365,
        0.02283663, 0.03552365, 0.02791144, 0.03425495, 0.05074807,
        0.03806105, 0.01776182, 0.11418315, 0.02283663, 0.04059845,
        0.04313586, 0.03298624, 0.02537403, 0.04694196, 0.04567326,
        0.01522442, 0.0735847 , 0.01014961, 0.09895873, 0.01776182,
        0.02537403, 0.03552365, 0.03044884, 0.04313586, 0.01522442,
        0.03552365, 0.01776182, 0.03552365, 0.04059845, 0.02918014,
        0.03552365, 0.02537403, 0.02029923, 0.01268702, 0.02537403,
        0.02791144, 0.02537403, 0.03171754, 0.05074807, 0.03552365,
        0.06089768, 0.03044884, 0.04313586, 0.03298624, 0.03552365,
        0.01649312, 0.04440456, 0.02537403, 0.02537403, 0.03298624,
        0.02156793, 0.05328547, 0.03552365, 0.04313586, 0.03044884,
        0.04821066, 0.05328547, 0.03552365, 0.03552365, 0.06597249,
        0.03425495, 0.01014961, 0.02664274, 0.05328547, 0.03044884,
        0.03552365, 0.02791144, 0.03806105, 0.04059845, 0.05201677,
        0.00888091, 0.03806105, 0.05836028, 0.02029923, 0.04567326,
        0.02791144, 0.03044884, 0.04186716, 0.03552365, 0.05582287,
        0.03044884, 0.03806105, 0.03552365, 0.02029923, 0.05582287,
        0.03552365, 0.03552365, 0.02537403, 0.03044884, 0.03552365,
        0.02029923, 0.04821066, 0.02283663, 0.03298624, 0.03044884,
        0.02537403, 0.02791144, 0.02537403, 0.03044884, 0.04440456,
        0.01776182, 0.05074807, 0.03806105, 0.03806105, 0.02791144,
        0.03044884, 0.02791144, 0.04821066, 0.03806105, 0.04059845,
        0.04567326, 0.10657094, 0.03552365, 0.02537403, 0.04059845,
        0.01776182, 0.05836028, 0.03552365, 0.02283663, 0.01903053,
        0.03552365, 0.03552365, 0.02283663, 0.02854579, 0.04313586,
        0.02791144, 0.03806105, 0.04821066, 0.04821066, 0.04059845,
        0.04059845, 0.03044884, 0.04567326, 0.0399641 , 0.04821066,
        0.02537403, 0.03806105, 0.03552365, 0.01776182, 0.02791144,
        0.03806105, 0.02537403, 0.04313586, 0.03044884, 0.03806105,
        0.03044884, 0.03806105, 0.03044884, 0.04821066, 0.03552365,
        0.00888091, 0.02537403, 0.03552365, 0.02537403, 0.02029923,
        0.02791144, 0.01014961, 0.03044884, 0.03806105, 0.04059845,
        0.03298624, 0.02156793, 0.03044884, 0.01014961, 0.01776182,
        0.05074807, 0.03679235, 0.01776182, 0.02283663, 0.02791144,
        0.05582287, 0.03171754, 0.03552365, 0.04567326, 0.04821066,
        0.02473968, 0.03806105, 0.03044884, 0.04821066, 0.02918014,
        0.01776182, 0.04186716, 0.02029923, 0.04313586, 0.02537403,
        0.02029923, 0.03806105, 0.02537403, 0.01268702, 0.03806105,
        0.01522442, 0.03552365, 0.04313586, 0.02410533, 0.03044884,
        0.02537403, 0.04313586, 0.02664274, 0.03806105, 0.03806105,
        0.02029923, 0.05582287, 0.02029923, 0.01522442, 0.02537403,
        0.04186716, 0.02791144, 0.04313586, 0.04567326, 0.02410533,
        0.02537403, 0.03298624, 0.03806105, 0.04313586, 0.04313586,
        0.04567326, 0.03298624, 0.03044884, 0.03298624, 0.02537403,
        0.03806105, 0.02029923, 0.04186716, 0.04059845, 0.02791144,
        0.03171754, 0.03298624, 0.04059845, 0.05074807, 0.04567326,
        0.02537403, 0.03298624, 0.02537403, 0.05328547, 0.04313586,
        0.03044884, 0.05582287, 0.04186716, 0.01776182, 0.03044884,
        0.01776182, 0.04059845, 0.02029923, 0.02156793, 0.03552365,
        0.02283663, 0.03044884, 0.02029923, 0.03806105, 0.04947937,
        0.03298624, 0.04313586, 0.03298624, 0.02283663, 0.03044884,
        0.02283663, 0.04313586, 0.03425495, 0.02791144, 0.07104729,
        0.03552365, 0.02283663, 0.04313586, 0.03806105, 0.03298624,
        0.03425495, 0.01268702, 0.03298624, 0.01776182, 0.04821066,
        0.04567326, 0.02283663, 0.04440456, 0.03044884, 0.00888091,
        0.01014961, 0.05074807, 0.04059845, 0.03806105, 0.02537403,
        0.01776182, 0.03552365, 0.11164575, 0.01522442, 0.03806105,
        0.04059845, 0.04313586, 0.01776182, 0.03044884, 0.04821066,
        0.02283663, 0.03806105, 0.02537403, 0.04313586, 0.03806105,
        0.02283663, 0.02029923, 0.03044884, 0.04313586, 0.04059845,
        0.04313586, 0.02029923, 0.03806105, 0.05582287, 0.03552365,
        0.05836028, 0.04313586, 0.02537403, 0.01522442, 0.02283663,
        0.03806105, 0.04440456, 0.02410533, 0.04313586, 0.03806105,
        0.07104729, 0.03425495, 0.02537403, 0.03679235, 0.03932975,
        0.04059845, 0.04313586, 0.04313586, 0.04313586, 0.02156793,
        0.05074807, 0.04821066, 0.02029923, 0.01776182, 0.04313586,
        0.03044884, 0.04059845, 0.04947937, 0.05074807, 0.01522442,
        0.01014961, 0.04567326, 0.04567326, 0.03298624, 0.02029923,
        0.04821066, 0.04059845]])

In [35]:
# mean normalization
normalized_df=(df-df.mean())/df.std()

# min/max normalization 
normalized_df=(df-df.min())/(df.max()-df.min())

# Note that `select_dtypes` returns a data frame. We are selecting only the columns
numeric_cols = df.select_dtypes(include=[np.number]).columns
df[numeric_cols].apply(zscore)

# Standardization/normalization

NameError: name 'df' is not defined

In [36]:
# STANDARDIZATION
# Get column names first
names = df.columns
# Create the Scaler object
scaler = preprocessing.StandardScaler()
# Fit your data on the scaler object
scaled_df = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_df, columns=names)

NameError: name 'df' is not defined

In [37]:
# Correlation Analysis

In [38]:
# WHEN YOU HAVE ALL THE CALCULATIONS AND VARIATIONS DOWN DECIDE ON THE ORDER OF THE PROCESSING AND WHAT TO TRY AFTER
# THEN RUN THE MODEL