In [1]:
# imports
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('Competition1_raw_data.xlsx')
                    #dtype={'P(IPO)': float, 'P(1Day)': float})
# define dashes as missing --> 0 or NaN
data.head(5)

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10,9.5,8.5,11.87,122,1,3.43,...,10600000,51.345,470,12719,11560,301,690,62,117,139
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,2400000,25.936,791,21792,19585,510,1120,71,242,237
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,5000000,7.378,201,5262,4785,128,325,61,33,60
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,4500000,8.526,328,8259,7574,177,509,80,59,110
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,8250000,632.298,572,14830,13176,336,720,67,149,167

In [7]:
# dashes rows to be dropped for dashes --> P(IPO), P(H), P(L), P(1Day), C3
indexNames1 = data[data['P(IPO)'] == '-' ].index
indexNames2 = data[data['P(H)'] == '-' ].index
indexNames3 = data[data['P(1Day)'] == '-' ].index
indexNames4 = data[data['C3'] == '-' ].index
indexNames5 = data[data['C7'] == '-' ].index
indexNames6 = data[data['P(H)'] == 0].index
indexNames7 = data[data['P(1Day)'] == 0].index

# Delete these row indexes from dataFrame
data.drop(indexNames1 , inplace=True)
data.drop(indexNames2 , inplace=True)
data.drop(indexNames3 , inplace=True)
data.drop(indexNames4 , inplace=True)
data.drop(indexNames5 , inplace=True)
data.drop(indexNames6 , inplace=True)
data.drop(indexNames7 , inplace=True)

# replace with nan for imputation 
data.loc[(data['S1'] < 0),'S1'] = np.nan
data.loc[(data['T2'] == 0),'T2'] = np.nan

# impute 
data['S1'] = data['S1'].fillna(data['S1'].median())
data['T2'] = data['T2'].fillna(data['T2'].median())

In [26]:
data[data['T2']==0]

Empty DataFrame
Columns: [I1, I2, I3, P(IPO), P(H), P(L), P(1Day), C1, C2, C3, C4, C5, C6, C7, T1, T2, T3, T4, T5, S1, S2, S3]
Index: []

[0 rows x 22 columns]

In [9]:
data[data['P(1Day)']==0]

Empty DataFrame
Columns: [I1, I2, I3, P(IPO), P(H), P(L), P(1Day), C1, C2, C3, C4, C5, C6, C7, T1, T2, T3, T4, T5, S1, S2, S3]
Index: []

[0 rows x 22 columns]

In [10]:
data[data['T4']==0]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
250,GGS,Global Geophysical Services Inc,1382,12,17,15,12,188,1,0.05,...,7500000,312.796,473,12699.0,11422,0,693,84.0,112,123
478,PSPT,"PeopleSupport, Inc.",7389,7,12,10,6.5,144,0,0.67,...,6818182,30.013,483,12658.0,11451,0,800,67.0,161,152

In [11]:
data[data['T5']==0]

Empty DataFrame
Columns: [I1, I2, I3, P(IPO), P(H), P(L), P(1Day), C1, C2, C3, C4, C5, C6, C7, T1, T2, T3, T4, T5, S1, S2, S3]
Index: []

[0 rows x 22 columns]

In [12]:
data.head(13)

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10,9.5,8.5,11.87,122,1,3.43,...,10600000,51.345,470,12719.0,11560,301,690,62.0,117,139
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,2400000,25.936,791,21792.0,19585,510,1120,71.0,242,237
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,5000000,7.378,201,5262.0,4785,128,325,61.0,33,60
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,4500000,8.526,328,8259.0,7574,177,509,80.0,59,110
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,8250000,632.298,572,14830.0,13176,336,720,67.0,149,167
5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.2,94,1,0.06,...,7407407,197.591,510,17999.0,13934,328,815,62.0,96,181
6,ACOR,ACORDA THERAPEUTICS INC,2836,6,13,11,6.72,128,1,-1.87,...,5500000,5.146,495,15758.0,13953,379,698,82.0,106,135
8,ACTV,ACTIVE NETWORK INC,7372,15,18,16,15.9,100,1,-0.51,...,11000000,279.6,620,14813.0,13463,335,917,58.0,124,234
11,ADLS,"Advanced Life Sciences Holdings, Inc.",2854,5,9,8,6,99,1,-398.1,...,7000000,0.32,253,5788.0,5200,138,385,29.0,41,70
12,ADZA,ADEZA BIOMEDICAL CORP,2835,16,16,14,19.7,126,1,0.27,...,3750000,26.499,206,5732.0,4963,141,259,21.0,43,80
13,AFFY,AFFYMAX INC,2834,25,24,22,33.88,140,1,-2.19,...,3700000,0.074,416,10562.0,9835,231,726,81.0,118,138
14,AGAM,"AGA Medical Holdings, Inc.",3845,14.5,16,15,14.6,488,1,0.18,...,13750000,166.896,624,18633.0,16471,380,909,98.0,256,172
15,AH,R1 RCM INC.,7389,12,16,14,13.55,233,1,0.17,...,10000000,510.192,586,18142.0,15782,413,649,98.0,92,155

In [13]:
data[data['P(IPO)']>0]

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10,9.5,8.5,11.87,122,1,3.43,...,10600000,51.345,470,12719.0,11560,301,690,62.0,117,139
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,2400000,25.936,791,21792.0,19585,510,1120,71.0,242,237
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,5000000,7.378,201,5262.0,4785,128,325,61.0,33,60
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,4500000,8.526,328,8259.0,7574,177,509,80.0,59,110
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,8250000,632.298,572,14830.0,13176,336,720,67.0,149,167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,ZIP,ZIPCAR INC,7514,18,16,14,28,317,1,-0.37,...,9684109,186.101,537,13359.0,12303,329,676,87.0,106,173
678,ZLTQ,Zeltiq Aesthetics Inc,3845,13,16,14,15.5,98,1,-0.41,...,7000000,25.461,496,13810.0,12515,321,784,70.0,126,173
679,ZSTN,"ZST Digital Networks, Inc.",3663,8,8.5,7.5,7.52,112,0,0.6,...,3125000,55.431,335,9067.0,8066,217,435,38.0,82,90
680,ZUMZ,Zumiez Inc,5600,19,17,15,12.435,78,1,0.2,...,3125000,117.857,256,7087.0,6445,182,306,48.0,38,100
681,ZZ,SEALY CORP,2510,16,16,14,8.34012,281,1,0.76,...,28000000,1469.57,413,11660.0,10544,277,636,94.0,103,158

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 589 entries, 0 to 681
Data columns (total 22 columns):
I1         589 non-null object
I2         589 non-null object
I3         589 non-null object
P(IPO)     589 non-null object
P(H)       589 non-null object
P(L)       589 non-null object
P(1Day)    589 non-null object
C1         589 non-null object
C2         589 non-null object
C3         589 non-null object
C4         589 non-null object
C5         589 non-null object
C6         589 non-null object
C7         589 non-null object
T1         589 non-null object
T2         589 non-null float64
T3         589 non-null object
T4         589 non-null object
T5         589 non-null object
S1         589 non-null float64
S2         589 non-null object
S3         589 non-null object
dtypes: float64(2), object(20)
memory usage: 105.8+ KB

In [27]:
# P(mid) calculation and add it to the column 
# P(mid) = (P(H)+P(L))/2
data['P(mid)'] = (data['P(H)'] + data['P(L)'])/2

# targets to be calculated
# make it equal to P(IPO) then we will just replace
data['Y1'] = data['P(IPO)']
data['Y2'] = data['P(IPO)']

# replace Y1 and change dtype to binary
data.loc[(data['Y1'] < data['P(mid)']),'Y1'] = 1
data.loc[(data['Y1'] > data['P(mid)']),'Y1'] = 0
data['Y1'] = data['Y1'].astype(int)

# replace Y2
data.loc[(data['Y2'] < data['P(1Day)']),'Y2'] = 1
data.loc[(data['Y2'] > data['P(1Day)']),'Y2'] = 0
data['Y2'] = data['Y2'].astype(int)

# Control values to be calculated
data['C3`'] = data['C3']
data['C3`'] = np.where((data['C3'] > 0),1,data['C3`'])
data['C3`'] = np.where((data['C3'] < 0),0,data['C3`'])
data['C3`'] = data['C3`'].astype(int)

# C5`
data['C5`'] = data['C5']/data['C6']
data['C5`'] = data['C5`'].astype(float)

# C6`
data['C6calc'] = ((data['P(IPO)'] - data['P(mid)']) / data['P(mid)']) * 1
data['C6`'] = 0
data['C6`'] = np.where((data['P(IPO)'] > data['P(mid)']),data['C6calc'],data['C6`'])
data['C6`'] = np.where((data['P(IPO)'] < data['P(mid)']),0,data['C6`'])
data['C6`'] = np.where((data['P(mid)']==0),0,data['C6`'])
data['C6`'] = data['C6`'].astype(float)

In [16]:
#data.loc[data['T4'] == '-'] 
#data.drop(217,inplace=True)
#percent of long sentences
data["T1prime"] = data["T4"].astype(float)/data["T1"].astype(float)
#percent of real words
data["T3prime"] = data["T3"].astype(float)/data["T2"].astype(float)
#percent of long words
data["T4prime"] = data["T5"].astype(float)/data["T2"].astype(float)
#percent of positive words
data["S1prime"] = data["S1"].astype(float)/data["T2"].astype(float)
#percent of negative words
data["S2prime"] = data["S2"].astype(float)/data["T2"].astype(float)
#percent of uncertain words
data["S3prime"] = data["S2"].astype(float)/data["T2"].astype(float)

In [28]:
data.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,S1,S2,S3,P(mid),Y1,Y2,C3`,C5`,C6calc,C6`
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10,9.5,8.5,11.87,122,1,3.43,...,62.0,117,139,9,0,1,1,3.864345,0.111111,0.111111
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,71.0,242,237,9,1,0,0,12.028832,-0.111111,0.000000
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,61.0,33,60,13,1,0,0,3.369134,-0.461538,0.000000
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,80.0,59,110,15,1,1,0,3.299697,-0.233333,0.000000
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,67.0,149,167,20,0,1,1,3.726269,0.05,0.050000

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 589 entries, 0 to 681
Data columns (total 29 columns):
I1         589 non-null object
I2         589 non-null object
I3         589 non-null object
P(IPO)     589 non-null object
P(H)       589 non-null object
P(L)       589 non-null object
P(1Day)    589 non-null object
C1         589 non-null object
C2         589 non-null object
C3         589 non-null object
C4         589 non-null object
C5         589 non-null object
C6         589 non-null object
C7         589 non-null object
T1         589 non-null object
T2         589 non-null float64
T3         589 non-null object
T4         589 non-null object
T5         589 non-null object
S1         589 non-null float64
S2         589 non-null object
S3         589 non-null object
P(mid)     589 non-null object
Y1         589 non-null int64
Y2         589 non-null int64
C3`        589 non-null int64
C5`        589 non-null float64
C6calc     589 non-null object
C6`        589 non-null float64
dtypes: float64(4), int64(3), object(22)
memory usage: 138.0+ KB

In [31]:
data['C2'] = data['C2'].astype(int)
data['I3'] = data['I3'].astype(str)
# changing to correct type --> to continous 
cols = ['P(IPO)','P(H)','P(L)','P(1Day)','C1','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']
data[cols] = data[cols].astype(float)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 589 entries, 0 to 681
Data columns (total 29 columns):
I1         589 non-null object
I2         589 non-null object
I3         589 non-null object
P(IPO)     589 non-null float64
P(H)       589 non-null float64
P(L)       589 non-null float64
P(1Day)    589 non-null float64
C1         589 non-null float64
C2         589 non-null int64
C3         589 non-null float64
C4         589 non-null float64
C5         589 non-null float64
C6         589 non-null float64
C7         589 non-null float64
T1         589 non-null float64
T2         589 non-null float64
T3         589 non-null float64
T4         589 non-null float64
T5         589 non-null float64
S1         589 non-null float64
S2         589 non-null float64
S3         589 non-null float64
P(mid)     589 non-null object
Y1         589 non-null int64
Y2         589 non-null int64
C3`        589 non-null int64
C5`        589 non-null float64
C6calc     589 non-null object
C6`        589 non-null float64
dtypes: float64(20), int64(4), object(5)
memory usage: 138.0+ KB

In [32]:
data.to_csv('omg2')