In [12]:
# imports
import pandas as pd
import numpy as np
import os

import pandas as pd

data = pd.read_excel('Competition1_raw_data.xlsx')
data

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10,9.5,8.5,11.87,122,1,3.43,...,10600000,51.345,470,12719,11560,301,690,62,117,139
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,2400000,25.936,791,21792,19585,510,1120,71,242,237
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,5000000,7.378,201,5262,4785,128,325,61,33,60
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,4500000,8.526,328,8259,7574,177,509,80,59,110
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,8250000,632.298,572,14830,13176,336,720,67,149,167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,ZIP,ZIPCAR INC,7514,18,16,14,28,317,1,-0.37,...,9684109,186.101,537,13359,12303,329,676,87,106,173
678,ZLTQ,Zeltiq Aesthetics Inc,3845,13,16,14,15.5,98,1,-0.41,...,7000000,25.461,496,13810,12515,321,784,70,126,173
679,ZSTN,"ZST Digital Networks, Inc.",3663,8,8.5,7.5,7.52,112,0,0.6,...,3125000,55.431,335,9067,8066,217,435,38,82,90
680,ZUMZ,Zumiez Inc,5600,19,17,15,12.435,78,1,0.2,...,3125000,117.857,256,7087,6445,182,306,48,38,100
681,ZZ,SEALY CORP,2510,16,16,14,8.34012,281,1,0.76,...,28000000,1469.57,413,11660,10544,277,636,94,103,158

In [50]:
#data.loc[data['T4'] == '-'] 
#data.drop(217,inplace=True)
#percent of long sentences
data["T1prime"] = data["T4"].astype(float)/data["T1"].astype(float)
#percent of real words
data["T3prime"] = data["T3"].astype(float)/data["T2"].astype(float)
#percent of long words
data["T4prime"] = data["T5"].astype(float)/data["T2"].astype(float)
#percent of positive words
data["S1prime"] = data["S1"].astype(float)/data["T2"].astype(float)
#percent of negative words
data["S2prime"] = data["S2"].astype(float)/data["T2"].astype(float)
#percent of uncertain words
data["S3prime"] = data["S2"].astype(float)/data["T2"].astype(float)
data

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,T5,S1,S2,S3,T1prime,S1prime,T3prime,T4prime,S2prime,S3prime
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,1120,71,242,237,0.644753,0.003258,0.898724,0.051395,0.011105,0.011105
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,325,61,33,60,0.636816,0.011593,0.909350,0.061764,0.006271,0.006271
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,509,80,59,110,0.539634,0.009686,0.917060,0.061630,0.007144,0.007144
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,720,67,149,167,0.587413,0.004518,0.888469,0.048550,0.010047,0.010047
5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.2,94,1,0.06,...,815,62,96,181,0.643137,0.003445,0.774154,0.045280,0.005334,0.005334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,ZINC,Horsehead Holding Corp,3341,18,20,18,18.6,119,1,2.7,...,489,57,84,112,0.564516,0.005561,0.886537,0.047707,0.008195,0.008195
677,ZIP,ZIPCAR INC,7514,18,16,14,28,317,1,-0.37,...,676,87,106,173,0.612663,0.006512,0.920952,0.050603,0.007935,0.007935
678,ZLTQ,Zeltiq Aesthetics Inc,3845,13,16,14,15.5,98,1,-0.41,...,784,70,126,173,0.647177,0.005069,0.906227,0.056770,0.009124,0.009124
679,ZSTN,"ZST Digital Networks, Inc.",3663,8,8.5,7.5,7.52,112,0,0.6,...,435,38,82,90,0.647761,0.004191,0.889600,0.047976,0.009044,0.009044
680,ZUMZ,Zumiez Inc,5600,19,17,15,12.435,78,1,0.2,...,306,48,38,100,0.710938,0.006773,0.909412,0.043178,0.005362,0.005362

## To Do:


- Drop dashes for those columns you use to calculate the target variables (Y1 and Y2) --> drop rows --> MEGAN
- I3 --> binning --> tech/non-tech, other --> MEGAN
- Set up the ratios (look at the hints at instructions) --> MARCUS 
- How to handle other missing values --> look at the photo --> ERIK 

- Baseline test --> BY MONAY HAVE THE BASELINE TEST 

- Normality test (shapiro, histograms, only look the continous) --> function kurtosis --> ERIK 
- Normalization (only continous) (log, etc.) --> aply it based on how the histograms look like (depending on the skew)
- Standardization (if with z score we have to normalize it, min-max no need)
- run test and use different columns --> do not use leakers (P, and T's, and S's you use for the calculations)

In [11]:
data = pd.read_excel('Competition1_raw_data.xlsx')
                    #dtype={'P(IPO)': float, 'P(1Day)': float})
# define dashes as missing --> 0 or NaN
data.head(5)
data["T1'"] = data["T1"]/data["T4"]

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
data["t1'"] = data["t1"]/data["t4"]

## Drop Dashes

- Y1 & Y2: calculated with P(IPO), P(H), P(L), P(1day)
    
- Y1: set to 1 if P(IPO) < P(mid), where P(mid) = (P(H) + P(L))/2, otherwise 0
- Y2: set to 1 if P(IPO) < P(1day), otherwise 0

In [23]:
#P(IPO)
data.loc[data['P(IPO)'] == '-']

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",-,-,-,-,-,-,-,-,...,-,-,332,7534,6747,169,263,51,65,74
86,BLT,BLOUNT INTERNATIONAL INC,-,-,-,-,-,-,-,-,...,-,-,538,12732,11126,301,631,94,172,116
330,KFI,KKR Financial Holdings LLC,-,-,-,-,-,-,-,-,...,-,-,246,527,9046,355,10277,64,48,123
400,NAUH,"National American University Holdings, Inc.",-,-,-,-,-,-,-,-,...,-,-,290,8454,7137,192,384,45,68,139
597,TRMM,"Access to Money, Inc.",-,-,-,-,-,-,-,-,...,-,-,494,12004,10226,277,560,46,100,91

In [ ]:
#drop rows that P(IPO) has dashes in
data.drop(10, inplace=True)
data.drop(86, inplace=True)
data.drop(330, inplace=True)
data.drop(400, inplace=True)
data.drop(597, inplace=True)

In [ ]:
#P(IPO)--check if rows dropped
data.loc[data['P(IPO)'] == '-']

In [ ]:
# P(H)
data.loc[data['P(H)'] == '-']

In [ ]:
data.drop(215, inplace=True)
data.drop(268, inplace=True)
data.drop(490, inplace=True)
data.drop(560, inplace=True)
data.drop(614, inplace=True)

In [ ]:
# P(H)--check if rows dropped
data.loc[data['P(H)'] == '-']

In [ ]:
# P(L)---no rows to drop
data.loc[data['P(L)'] == '-']

In [ ]:
# P(1Day)
data.loc[data['P(1Day)'] == '-']

In [ ]:
data.drop(115, inplace=True)
data.drop(123, inplace=True)
data.drop(203, inplace=True)
data.drop(217, inplace=True)
data.drop(286, inplace=True)
data.drop(357, inplace=True)
data.drop(401, inplace=True)
data.drop(410, inplace=True)
data.drop(496, inplace=True)
data.drop(503, inplace=True)
data.drop(615, inplace=True)
data.drop(675, inplace=True)

In [ ]:
# P(1Day)--check if rows dropped
data.loc[data['P(1Day)'] == '-']

In [ ]:
data.info()

## I3 Binning

* One way to convert a continuous variable to categorical is through binning. 
* You can bin your continuous variable using its distribution, any external knowledge, or some other logical reasons. 
* ONLY bin continuous

##Ranges taken from internet
0100-0999	Agriculture, Forestry and Fishing
1000-1499	Mining
1500-1799	Construction
1800-1999	not used
2000-3999	Manufacturing
4000-4999	Transportation, Communications, Electric, Gas and Sanitary service
5000-5199	Wholesale Trade
5200-5999	Retail Trade
6000-6799	Finance, Insurance and Real Estate
7000-8999	Services
9100-9729	Public Administration
9900-9999	Nonclassifiable

In [ ]:
data.loc[data['I3'] == '-'] #no missing values

In [ ]:
# I3 to integers
#data['I3'] = data['I3'].str.strip()
data['I3'] = pd.to_numeric(data['I3'], errors='coerce')
data['I3'].index = data['I3'].index.astype(int)

In [ ]:
data.info()

In [ ]:
#2000-3999	Manufacturing
def assign_bins(I3):
    if (I3 >= 2000) and (I3 <= 3999):       
        return(1)
    else:       
        return(0)

    
data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

In [ ]:
#services and other (7000-8999)
def assign_bins(I3):  
    if (I3 >= 7000) and (I3 <= 8999):       # Creating a bin value of 1 for services
        return(1)
    else:                               # Creating a bin value of 0 for all other I3 values
        return(0)
   

data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

In [ ]:
#1500-1799	Construction
def assign_bins(I3):
    if (I3 >= 1500) and (I3 <= 17999):       
        return(1)
    else:       
        return(0)

    
data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

In [ ]:
#4000-4999	Transportation, Communications, Electric, Gas and Sanitary service
def assign_bins(I3):
    if (I3 >= 4000) and (I3 <= 4999):       
        return(1)
    else:       
        return(0)

    
data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

In [ ]:
#5000-5199	Wholesale Trade
def assign_bins(I3):
    if (I3 >= 5000) and (I3 <= 5199):       
        return(1)
    else:       
        return(0)

    
data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

In [ ]:
#5200-5999	Retail Trade
def assign_bins(I3):
    if (I3 >= 5200) and (I3 <= 5999):       
        return(1)
    else:       
        return(0)

    
data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

In [ ]:
#6000-6799	Finance, Insurance and Real Estate
def assign_bins(I3):
    if (I3 >= 6000) and (I3 <= 6799):       
        return(1)
    else:       
        return(0)

    
data['bins'] = data['I3'].apply(assign_bins)  # Creating a new column bins in the dataframe

data.head()

In [ ]:
#bin all columns--or just continuous?
#consider other binning ideas

#google SIC codes 
#they have bins
####use code from mini project two--winbins